Mattias Vinberg <94398623+vinberg88@users.noreply.github.com> copilot-swe-agent[bot] <198982749+Copilot@users.noreply.github.com>
Mattias Vinberg <94398623+vinberg88@users.noreply.github.com> dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
Mattias Vinberg <94398623+vinberg88@users.noreply.github.com> Mattias Vinberg <mattias@vinberg.pm>
Mattias Vinberg <94398623+vinberg88@users.noreply.github.com> vinberg88 <9.4398623e+07+vinberg88@users.noreply.github.com>
